html {
    background: url(../img/textures/pink_rice.png);
}
@font-face {
    font-family: GreatVibes;
    src: url(../fonts/GreatVibes-Regular.ttf) format("truetype");
}
@font-face {
    font-family: AGentleTouch;
    src: url(../fonts/A-Gentle-Touch.ttf) format("truetype");
}
body {

}
#wrapper {
    text-align:center;
}
h1 {
    color: #7B3327;
    font-family: AGentleTouch;
    text-align: center;
    font-size: 4.5em;
    display: inline-block;
}

#heart-icon {
    display: inline-block;
    font-size: 0.5em;
    -webkit-transform: rotate(7deg) translate3d(0, -5px, 0);
}

.headshot-container {
  display: inline-block;
  width: 33%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 5%;
}

.main-headshot {
  border-radius: 50%;
  width: 100%;
  padding-bottom: 100%;
  background: url(../img/headshots/headshot_quirky.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.column-container {
  height: auto;
}
.column-left {
  float: left;
  width: 33%;
}

.column-right {
  float: right;
  width: 33%;
}

.column-left .headshot-frame {
  width: 70%;
  height: 255px;
  background: url(../img/images/blue-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin:0 auto;
}
.column-left .reel-frame {
  width: 70%;
  height: 255px;
  background: url(../img/images/dark-green-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin:0 auto;
}

.column-right .about-frame {
  width: 70%;
  height: 255px;
  background: url(../img/images/green-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin:0 auto;
}
.column-right .resume-frame {
  width: 70%;
  height: 255px;
  background: url(../img/images/orange-frame.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin:0 auto;
}

.link-text {
  position: absolute;
  top: 38%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 1px;
  color: #7B3327;
  font-family: AGentleTouch;
  font-size: 3em;
}

.link-text.headshot {
  width: 165px;
}

.link-text.reel {
  width: 65px;
  left: -20px;
}






